.Btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Gilroy Bold';
    border-radius: 15px;
    background-color: #1a1a1a;
    border: none;
    color: #f0f2ee;
    cursor: pointer;
    transition: all 0.1s linear;
}

.Btn:hover {
    background-color: #343434;
}